.loadMore__button {
  margin-top: 20px;
  text-align: center;
}

.loadMore__button button {
  width: 300px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #f79821;
  text-transform: uppercase;
  margin-bottom: 20px;
  background-color: rgb(251 211 137);
  transition: 0.5s;
}

.loadMore__button button:hover {
  background-color: #f79821;
  cursor: pointer;
}
