.header {
  width: 100%;
  display: flex;

  background-color: rgb(251 211 137);
  padding: 20px;
  border-bottom: 1px solid #f79821;
}

.title {
  width: 50%;
  margin-top: 10px;
}

.title img {
  color: #f79821;
  height: 70px;
  cursor: pointer;
  transition: 0.2s;
}

.nav {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.home__page,
.pokeball {
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.home__page:hover,
.pokeball:hover,
.title img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.home__page img,
.pokeball img {
  width: 100px;
  height: 100px;
  cursor: pointer;

  transition: 0.3s;
}

.home__page p,
.pokeball p {
  font-size: 1.5em;
  padding-right: 30px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .title {
    width: 50%;
    margin-top: 37px;
  }

  .home__page,
  .pokeball {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s;
    text-align: center;
  }
  
  .pokeball img {
    margin-right: 30px;
  }
}
